<footer class="footer">
    <div class="container text-center">
      <span class="text-muted" [innerHTML]="copyRight"></span>
      <nav class="navbar navbar-expand-lg navbar-light" [class]="footerClass">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav d-md-flex d-block flex-row mx-md-auto mx-0">
              <a 
              *ngFor="let url of footerLinks"
              class="nav-link" [routerLink]="url.url">{{ url.name }}</a>
            </div>
            <div 
            *ngIf="errSpinner"
            class="spinner-border text-center"></div>
          </div>
        </div>
      </nav>
    </div>
</footer>